.variant {
  font-size: 15px;
  border: 0px solid black;
  width: 200px;
  background: #dff5dc9c;
  margin-bottom: 5px;
  height: 55px;
  border-radius: 5px;
}
.buttonRed {
  background: rgb(255, 122, 122);
}
.buttonGreen {
  background: rgb(102, 217, 102);
}
.styleCorrectAnswer {
  background: #b1ffa59c;
}

.styleUnCorrectAnswer {
  background: rgb(243, 108, 108);
}
